__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Frontend
node_modules/
dist/
*.local

# Editable local npm files
.env
.env.*

# IDE / OS
.idea/
.vscode/
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Model weights & data
models/*.pt
models/*.onnx
data/